body {
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container {
    background: aliceblue;
    max-width: 80%;
    margin: 50px auto;
    border: 3px solid black;
    border-radius: 10px;
}

.entries {
    background: white;
    max-width: 80%;
    margin: 10px auto;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 0 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 40px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 40px;
}

button {
    position: relative;
    border: 1px solid black;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#increment-btn {
    background: #658ede;
    margin-bottom: 20px;
}

#save-btn {
    background: #65b387;
    margin-bottom: 20px;
}

#clear-btn {
    background: #e1e0e0;
    color: black;
    margin-bottom: 20px;
}

#save-el {
    font-weight: bold;
}